<a href="https://colab.research.google.com/github/Uzair-90/HSPSQL/blob/master/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [46]:
import pandas as pd

In [47]:
data_s = pd.read_csv (r'/content/drive/MyDrive/assignment_!/Lhr_Detail_94.txt')
data_s.to_csv (r'/content/drive/MyDrive/assignment_!/Lhr_Detail_94.csv', index=None)
data_d= pd.read_csv (r'/content/drive/MyDrive/assignment_!/Lhr_Student_94.txt')
data_d.to_csv (r'/content/drive/MyDrive/assignment_!/Lhr_Student_94.csv', index=None)
#data_s=data_s.iloc[:,1]
df = pd.DataFrame(data_d)
df2 = pd.DataFrame(data_s)
# Split the 'Full Name' column into 'First Name' and 'Last Name' columns
df[['First Name', 'Last Name']] = df['St_Name'].str.split(' ', 1, expand=True)
df.to_csv('Lhr_Student_94.csv', index=False)

# Display the DataFrame
#print(df)

<ipython-input-47-71c548da4295>:9: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['First Name', 'Last Name']] = df['St_Name'].str.split(' ', 1, expand=True)

In [48]:
def split_names(full_name):
    names = full_name.split()
    if len(names) > 1:
        student_name = ' '.join(names[:-1])
        father_name = names[-1]
    else:
        student_name = full_name
        father_name = ''
    return student_name, father_name

df[['Student Name', 'Father Name']] = df['St_Name'].apply(split_names).apply(pd.Series)
df.drop(['St_Name'], axis=1,inplace=True)
df[['Father Name', 'Grand Father Name']] = df['Father_Name'].apply(split_names).apply(pd.Series)
df.drop(['Father_Name'], axis=1,inplace=True)
# Write the DataFrame with the new columns to a CSV file
#df.to_csv('Lhr_Student_94.csv', index=False)
df['City_name'] = df['Address'].str.split().str[-1]
#df['Gender'] = df['Gender'].replace({0: 'M', 1: 'F'})
df['Gender'] = df['Gender'].apply(lambda x: 'M' if x == 0 else 'F' if x == 1 else x)
df.to_csv('Lhr_Student_94.csv', index=False)


#Mam there is no need for yearb and yearr so I am commenting it.
#df['Yearb'] = df['Date of Birth'].str.split('-').str[-1]
#df['Yearr'] = df['Reg Date'].str.split('-').str[-1]

In [49]:
# Convert 'Date of Birth' and 'Reg Date' to datetime objects
df['Date of Birth'] = pd.to_datetime(df['Date of Birth'], errors='coerce')
df['Reg Date'] = pd.to_datetime(df['Reg Date'], errors='coerce')

# Function to swap dates if 'Date of Birth' is greater than 'Reg Date'
def swap_dates(row):
    if pd.notnull(row['Date of Birth']) and pd.notnull(row['Reg Date']):
        if row['Date of Birth'] > row['Reg Date']:
            temp = row['Date of Birth']
            row['Date of Birth'] = row['Reg Date']
            row['Reg Date'] = temp
    return row

# Apply the function to each row
df = df.apply(swap_dates, axis=1)

# Drop the 'check' column if it exists
df.drop('check', axis=1, errors='ignore', inplace=True)

# Save the updated DataFrame to 'Lhr_Student_94.csv'
df.to_csv('/content/drive/MyDrive/assignment_!/Lhr_Student_94.csv', index=False)

In [50]:

num_rows, num_columns = df.shape

print("Number of rows in student data frame:", num_rows)
print("Number of columns in student data frame:", num_columns)


num_rows2, num_columns2 = df2.shape

print("Number of rows detail data frame:", num_rows2)
print("Number of columns in detail data frame:", num_columns2)

print(df.columns)
print(df2.columns)

Number of rows in student data frame: 400
Number of columns in student data frame: 14
Number of rows detail data frame: 19200
Number of columns in detail data frame: 6
Index(['SID', 'Gender', 'Address', 'Date of Birth', 'Reg Date', 'Reg Status',
       'Degree Status', 'Last Degree', 'First Name', 'Last Name',
       'Student Name', 'Father Name', 'Grand Father Name', 'City_name'],
      dtype='object')
Index(['SID', 'Degree', 'Semester', 'Course', 'Marks', 'Discipline'], dtype='object')

In [51]:
# Number of unique values for each column in df
unique_values_df = df.nunique()

# Number of unique values for each column in df2
unique_values_df2 = df2.nunique()

print("Number of unique values in each column for Lhr_Student_94:")
print(unique_values_df)

print("\nNumber of unique values in each column for Lhr_Detail_94:")
print(unique_values_df2)

Number of unique values in each column for Lhr_Student_94:
SID                  400
Gender                 2
Address              400
Date of Birth        305
Reg Date              30
Reg Status             1
Degree Status          1
Last Degree            6
First Name           262
Last Name            283
Student Name         352
Father Name          350
Grand Father Name    123
City_name             20
dtype: int64

Number of unique values in each column for Lhr_Detail_94:
SID           400
Degree          1
Semester        8
Course         89
Marks          50
Discipline      4
dtype: int64

In [52]:
# Number of null values for each column in df
null_values_df = df.isnull().sum()

# Number of null values for each column in df2
null_values_df2 = df2.isnull().sum()

print("Number of null values in each column for Lhr_Student_94:")
print(null_values_df)

print("\nNumber of null values in each column for Lhr_Detail_94:")
print(null_values_df2)

Number of null values in each column for Lhr_Student_94:
SID                  0
Gender               0
Address              0
Date of Birth        0
Reg Date             0
Reg Status           0
Degree Status        0
Last Degree          0
First Name           0
Last Name            0
Student Name         0
Father Name          0
Grand Father Name    0
City_name            0
dtype: int64

Number of null values in each column for Lhr_Detail_94:
SID           0
Degree        0
Semester      0
Course        0
Marks         0
Discipline    0
dtype: int64

In [53]:
#invalid data for For Numeric Columns:
# Numeric columns in df
numeric_columns_df = df.select_dtypes(include=['number'])

# Check for negative values or other specific criteria (customize based on your dataset)
invalid_numeric_values_df = numeric_columns_df[numeric_columns_df < 0].dropna()

# Numeric columns in df2
numeric_columns_df2 = df2.select_dtypes(include=['number'])

# Check for negative values or other specific criteria (customize based on your dataset)
invalid_numeric_values_df2 = numeric_columns_df2[numeric_columns_df2 < 0].dropna()

print("Invalid numeric values in Lhr_Student_94:")
print(invalid_numeric_values_df)

print("\nInvalid numeric values in Lhr_Detail_94:")
print(invalid_numeric_values_df2)

Invalid numeric values in Lhr_Student_94:
Empty DataFrame
Columns: [SID]
Index: []

Invalid numeric values in Lhr_Detail_94:
Empty DataFrame
Columns: [SID, Marks]
Index: []

In [54]:
#invalid data for categorical columns:
# Get all unique values in each categorical column as valid categories for df
valid_categories_df = {col: df[col].unique() for col in df.select_dtypes(include=['object']).columns}

# Check for invalid categorical values in df
invalid_categorical_values_df = {col: df[~df[col].isin(valid_categories_df[col])] for col in valid_categories_df}

# Get all unique values in each categorical column as valid categories for df2
valid_categories_df2 = {col: df2[col].unique() for col in df2.select_dtypes(include=['object']).columns}

# Check for invalid categorical values in df2
invalid_categorical_values_df2 = {col: df2[~df2[col].isin(valid_categories_df2[col])] for col in valid_categories_df2}

print("Invalid categorical values in df:")
print(invalid_categorical_values_df)

print("\nInvalid categorical values in df2:")
print(invalid_categorical_values_df2)

Invalid categorical values in df:
{'Gender': Empty DataFrame
Columns: [SID, Gender, Address, Date of Birth, Reg Date, Reg Status, Degree Status, Last Degree, First Name, Last Name, Student Name, Father Name, Grand Father Name, City_name]
Index: [], 'Address': Empty DataFrame
Columns: [SID, Gender, Address, Date of Birth, Reg Date, Reg Status, Degree Status, Last Degree, First Name, Last Name, Student Name, Father Name, Grand Father Name, City_name]
Index: [], 'Reg Status': Empty DataFrame
Columns: [SID, Gender, Address, Date of Birth, Reg Date, Reg Status, Degree Status, Last Degree, First Name, Last Name, Student Name, Father Name, Grand Father Name, City_name]
Index: [], 'Degree Status': Empty DataFrame
Columns: [SID, Gender, Address, Date of Birth, Reg Date, Reg Status, Degree Status, Last Degree, First Name, Last Name, Student Name, Father Name, Grand Father Name, City_name]
Index: [], 'Last Degree': Empty DataFrame
Columns: [SID, Gender, Address, Date of Birth, Reg Date, Reg Status, Degree Status, Last Degree, First Name, Last Name, Student Name, Father Name, Grand Father Name, City_name]
Index: [], 'First Name': Empty DataFrame
Columns: [SID, Gender, Address, Date of Birth, Reg Date, Reg Status, Degree Status, Last Degree, First Name, Last Name, Student Name, Father Name, Grand Father Name, City_name]
Index: [], 'Last Name': Empty DataFrame
Columns: [SID, Gender, Address, Date of Birth, Reg Date, Reg Status, Degree Status, Last Degree, First Name, Last Name, Student Name, Father Name, Grand Father Name, City_name]
Index: [], 'Student Name': Empty DataFrame
Columns: [SID, Gender, Address, Date of Birth, Reg Date, Reg Status, Degree Status, Last Degree, First Name, Last Name, Student Name, Father Name, Grand Father Name, City_name]
Index: [], 'Father Name': Empty DataFrame
Columns: [SID, Gender, Address, Date of Birth, Reg Date, Reg Status, Degree Status, Last Degree, First Name, Last Name, Student Name, Father Name, Grand Father Name, City_name]
Index: [], 'Grand Father Name': Empty DataFrame
Columns: [SID, Gender, Address, Date of Birth, Reg Date, Reg Status, Degree Status, Last Degree, First Name, Last Name, Student Name, Father Name, Grand Father Name, City_name]
Index: [], 'City_name': Empty DataFrame
Columns: [SID, Gender, Address, Date of Birth, Reg Date, Reg Status, Degree Status, Last Degree, First Name, Last Name, Student Name, Father Name, Grand Father Name, City_name]
Index: []}

Invalid categorical values in df2:
{'Degree': Empty DataFrame
Columns: [SID, Degree, Semester, Course, Marks, Discipline]
Index: [], 'Semester': Empty DataFrame
Columns: [SID, Degree, Semester, Course, Marks, Discipline]
Index: [], 'Course': Empty DataFrame
Columns: [SID, Degree, Semester, Course, Marks, Discipline]
Index: [], 'Discipline': Empty DataFrame
Columns: [SID, Degree, Semester, Course, Marks, Discipline]
Index: []}

In [55]:
# Total number of unique courses in df2
total_courses = df2['Course'].nunique()

print("Total number of courses in Lrh_Detail is:", total_courses)

Total number of courses in Lrh_Detail is: 89

In [56]:
# Count the number of female students (Gender == 'F')
female_students = df[df['Gender'] == 'F']['Gender'].count()

# Count the number of male students (Gender == 'M')
male_students = df[df['Gender'] == 'M']['Gender'].count()

print("Total number of female students:", female_students)
print("Total number of male students:", male_students)

Total number of female students: 131
Total number of male students: 269

In [57]:
# Group by 'SID' and 'Semester', count the number of unique courses taken in each semester
courses_per_semester = df2.groupby(['SID', 'Semester'])['Course'].nunique().reset_index()

# Count the number of people who have taken more than 5 courses in a semester
people_more_than_5_courses = courses_per_semester[courses_per_semester['Course'] > 5]['SID'].nunique()

print("Total number of people who have taken more than 5 courses in a semester:", people_more_than_5_courses)

Total number of people who have taken more than 5 courses in a semester: 400

In [58]:
# Total number of unique student IDs
unique_sids = df['SID'].nunique()

# Total number of students
total_students = len(df)

print("Total number of unique student IDs:", unique_sids)
print("Total number of students:", total_students)

# Calculate the relationship as a percentage
relationship_percentage = (unique_sids / total_students) * 100
print("Relationship percentage: {:.2f}%".format(relationship_percentage))

Total number of unique student IDs: 400
Total number of students: 400
Relationship percentage: 100.00%

In [60]:
# Merge df2 with df based on the 'SID' column to include 'City_name' in df2
merged_df2 = df2.merge(df[['SID', 'City_name']], on='SID', how='left')

# Group by 'Semester' and 'City_name' from merged_df2, count the number of unique students in each semester for each campus
people_per_semester_per_campus = merged_df2.groupby(['Semester', 'City_name'])['SID'].nunique().reset_index()

# Calculate the average number of people per semester for each campus
average_people_per_semester_per_campus = people_per_semester_per_campus.groupby('City_name')['SID'].mean()

print("Average number of people per semester for each campus:")
print(average_people_per_semester_per_campus)

Average number of people per semester for each campus:
City_name
Bahawalpur    19.0
Bhatian       19.0
Bhawalpur     18.0
Faisalabad    19.0
Gujrat        17.0
Gujrawala     18.0
Hakim         19.0
Jehlum        16.0
Kabirwala     19.0
Khan          54.0
Kharian       17.0
LalaMusa      18.0
Melsi         19.0
Multan        18.0
Sahiwal       19.0
Sargodha      16.0
Shekhopura    19.0
Sialkot       18.0
Wazirabad     19.0
khan          19.0
Name: SID, dtype: float64

In [62]:
# Convert 'Reg Date' to string and then extract year and calculate the batch
df['Batch'] = pd.to_datetime(df['Reg Date']).dt.year

# Group by 'City_name' and 'Batch', count the number of unique students in each batch for each campus
students_per_batch_per_campus = df.groupby(['City_name', 'Batch'])['SID'].nunique().reset_index()

# Calculate the average number of students in every batch for each campus
average_students_per_batch_per_campus = students_per_batch_per_campus.groupby('City_name')['SID'].mean()

print("Average number of students in every batch for each campus:")
print(average_students_per_batch_per_campus)

Average number of students in every batch for each campus:
City_name
Bahawalpur     9.5
Bhatian       19.0
Bhawalpur     18.0
Faisalabad    19.0
Gujrat        17.0
Gujrawala     18.0
Hakim         19.0
Jehlum        16.0
Kabirwala     19.0
Khan          54.0
Kharian       17.0
LalaMusa      18.0
Melsi         19.0
Multan        18.0
Sahiwal       19.0
Sargodha      16.0
Shekhopura    19.0
Sialkot       18.0
Wazirabad     19.0
khan          19.0
Name: SID, dtype: float64